@{
    ViewData["Title"] = "Counter Page";
}

<div class="text-center">
    <h1 class="display-4">Perform Input Example</h1>

    <div id="vueInput">
        <template>
            <div style="margin-top:50px;">
                <label class="label">Input Value is :  {{ form.value }}</label>
                <div class="control">
                    <input v-model="form.value" class="input" type="text" placeholder="Text input">
                </div>
            </div>
        </template>
    </div>
</div>
@section scripts {

    <partial name="_VueScript" />
    <script>
        var app = new Vue({
            el: '#vueInput',
            data: {
                form: {
                    value: ''
                }

            }
        });
    </script>
}