@{
    ViewData["Title"] = "About Page";
}

<div id="aboutId" class="text-center">
    <about-component></about-component>
</div>

@section scripts{
    <script src="@Url.Content("~/dist/js/about.js")">
    </script>
}