@{
    ViewData["Title"] = "Contact Page";
}

<div id="contactId" class="text-center">
    <contact-component></contact-component>
</div>

@section scripts{
    <script src="@Url.Content("~/dist/js/contact.js")">

    </script>
}