@{
    ViewData["Title"] = "Full Counter Page";
}

<div id="fullCounterId" class="text-center">
    <fullcounter-component></fullcounter-component>
</div>

@section scripts{

    <partial name="_VueScript" />

}