@{
    ViewData["Title"] = "Counter Page";
}

<div id="counterId" class="text-center">
    <counter-component></counter-component>
</div>

@section scripts{
    <script src="@Url.Content("~/dist/js/home.js")">

    </script>
}