@{
    ViewData["Title"] = "Counter Page";
}

<div id="app" class="text-center">
    <about1-component></about1-component>
</div>

@section scripts{
    <script src="@Url.Content("~/dist/js/home.js")">

    </script>
}
