@{
    ViewData["Title"] = "Show Counter Page";
}

<div id="showCounterId" class="text-center">
    <showcounter-component></showcounter-component>
</div>

@section scripts{
    <script src="@Url.Content("~/dist/js/showcounter.js")">

    </script>
}