@{
    ViewData["Title"] = "Full Quasar Page";
    Layout = "~/Views/Shared/_Quasar.cshtml";

}



<div id="quasar-app">
    <h1>Quasar layout used</h1>
    <LayoutDefault></LayoutDefault>
</div>

@section scripts{

    @*<script src="@Url.Content("~/dist/js/vendor.myapp.js")"></script>*@
    <script src="@Url.Content("~/dist/js/main.js")"></script>

}