@{
    ViewData["Title"] = "Quasar Page Two";
    Layout = "~/Views/Shared/_Quasar.cshtml";
}

<div id="fullCounterId">
    <fullcounter-component></fullcounter-component>
</div>

@section scripts{
    <script src="@Url.Content("~/dist/js/fullcounter.js")"></script>
}