@{
    ViewData["Title"] = "Full Counter Page";
}

<div id="fullCounterId" class="text-center">
    <fullcounter-component></fullcounter-component>
</div>

@section scripts{

    <script src="@Url.Content("~/dist/js/fullcounter.js")"></script>

}